.row {
    display: flex;
    align-items: center;
    border: 1px solid red;
}

.subtask {
    margin-left: 10px;
    display: inline;
}

.completed {
    text-decoration: line-through;
}

hr {
    border-color: lightgrey;
}
