.row {
    display: flex;
    align-items: center;
    /* max-height: 5px;
    height: 100%; */
    border: 1px solid red;
}

.column {
    /* margin: 0.5em; */
}

.subtask {
    margin-left: 10px;
    display: inline;
}

.completed {
    text-decoration: line-through;
}

hr {
    border-color: lightgrey;
}
