.card {
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.1), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid lightgrey;
  border-radius: 10%;
  padding: 1em 1em;
  margin-right: 1.2em;
  margin-bottom: 2em;
}

.card-content {
  margin: 1em 3em;
}

.labels-section {
  display: flex;
  justify-content: center;
}

.subtasks-section {
  text-align: left;
}

h2 {
  font-weight: bold;
}

.ButtonContainer {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
