.card {
  margin: 1.5em;
  border-radius: 30px;
  padding: 2em 0.4em;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.1), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
}

.card-content {
  margin: 1em 3em;
}

.labels-section {
  display: flex;
  justify-content: center;
}

.subtasks-section {
  text-align: left;
}

h2 {
  font-weight: bold;
}

.ButtonContainer{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}