.App {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.options-container {
    display: flex;
    /* justify-content: flex-start; */
}

.option {
    margin: 10px;
    /* border: 1px solid blue;
    height: 50%; */
    /* vertical-align: middle; */
}

.sort-button {
    /* border: 1px solid orange; */
}

#new-plan-button {
    border: 1px solid lightgrey;
    border-radius: 5px;
    /* padding: 20px; */
    /* color:white; */
    font-weight: bold;
    padding: 10px 50px;
    background-color: lightgrey;
    font-size: 1em;
}

.help-text {
    /* border: 1px solid orange; */
    /* padding-bottom: 4em; */
}
