.card {
    border: 1px solid lightgrey;
    margin: 1.5em;
    /* background-color: aliceblue; */
    border-radius: 10%;
}

.card-content {
    /* border: 1px solid green; */
    margin: 1em 3em;
}

.heading-section {
    /* border: 1px solid green; */
    /* position: absolute; */
    /* display: flex;
    /* justify-content: flex-end; */
}

.labels-section {
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
}

.progress-bar-section {
    border: 1px solid red;
    /* margin: 0px 2em; */
}

h2 {
    font-weight: bold;
}
