.progressBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 451px;
  height: 123px;
  padding: 20px;

  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.dataPoint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: auto;
  height: auto;
}
