.home {
  padding: 40px;
}
.garden {
  padding-top: 10px;


}
.garden_background {
  position: relative;
  width: 800px;
  height: 500px;
  padding: 30px;
  background-image: url("./../../img/garden.png");
  background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.garden_background p {
  color: white;
  font-size: 10px;
  text-align: center;
}
